/* Colors used: 

Text color (Black): #100304;
Background color (Off White): #f4efed;
Primary color (Blue): #aaa4bb;
Secondary color (Purple): #4c3a82 
Additional color(Bisque): #ffe4c4 */

:root {    
    --white: #f4efed;
    --black: #100304;
    --blue: #aaa4bb;
    --purple: #4c3a82;
    --bisque: #ffe4c4;
    --gradient-light: #7767a4;
    --gradient-dark: #36295c;
    --white-smoke: #FCFCF1;
    --font-size-base: 16px;
    --font-size-h1: 24px;
    --font-size-h2: 20px;
    --font-size-h3: 14px;
    --font-family: "Kanit", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-style: normal;
    --width-medium: 300px;
    --width-large: 500px;
}

body {
    background-color: var(--white);            
    font-size: var(--font-size-base);    
    color: var(--black);            
}

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style);
}

h2 {    
    font-family: var(--font-family);
    font-weight: var(--font-weight-semi-bold);
    font-style: var(--font-style);
    margin-top: 50px;
    text-transform: uppercase;
}
  
p {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-style: var(--font-style);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
}

.pokemon-list li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    width: var(--width-medium);
}

.pokemon-button {    
    display: block;  
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--blue);
    border: none;
    padding: 10px 20px;
    transition-duration: 0.4s;
    width: 100%;
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    font-style: var(--font-style);         
}

.pokemon-button:hover {
    background-color: var(--purple);
    color: var(--bisque);
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;    
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);    
    z-index: 999;    
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--white-smoke);
    width: var(--width-medium);
}

.modal-close {  
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(to right, var(--gradient-light), var(--gradient-dark));
    color: var(--white);
    cursor: pointer;
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px var(--purple);
    padding: 5px;  
}

.modal-close:hover {
    transform: translateX(1px);  
    box-shadow: 0px 6px 10px var(--black);
  }


/* Responsive adjustments for big devices */
@media all and (min-width: 768px) {  
    .pokemon-button {
      padding: 15px 25px;      
    }
  
    .pokemon-list li,
    #modal-container.is-visible {
      width: var(--width-large);
    }
  
  }
