body {
    box-sizing: border-box;
  }
  
  .pokemon-list {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;  
    gap: 20px; 
    
    
  }
  
  .pokemon-list li {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 10px;   
    list-style-type: none;
    
    
  }
  
  .pokemon-button {
    min-width: 200px;  
  }
  